.main-container{
    display: flex;
}
.original-pdf,.anonymized-pdf, .entity-review.rounded,.pdf-list{
    border-radius: 1.25rem!important;
    height:calc(100vh - 146px);
    background-color: white;
    /* margin-top: 51px; */
    margin-top: 5px;
}

.filename-container{
    overflow-y: scroll;
    overflow-x: hidden;
}

.card.preview-ent{
  margin-top: 11px;
  background-color: #F8F9FF;
  border: #E8EAF2 solid 1px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 4%);
  height: 60px;
}

.pdf-preview-canvas{
  width: 460px;
  height: calc(100vh - 165px);
  margin-top: 10px;
  margin-left: 10px;
  
}
.entity-container{
  margin-top: -100px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}

.sub-text ,.description-text,.entity-text-preview{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

.sub-text {
  font-size: 20px;
  font-weight: 500 !important;
  height: 2em;
  line-height: 1em;
  font-size: 20px;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

.description-text{
  font-size: 9px;

}

.entity-text-preview{
  font-size: 13px;
  margin-top: 18px;
  font-weight: 900 !important;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

.card.preview-ent.selected{
  background-color: #ffff;
  border: 1px solid #1175BE;
  
  }

.pdf-container::-webkit-scrollbar:vertical {
  height: 1.2rem;
  background-color: transparent;
}

.pdf-container::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  background-color: transparent;
}

.preview-container{
  height: calc(100vh - 200px);
 }

 .move-left,.move-right{
  height: 40px;
  width: 50px;
 }

 .move-page{
  float: right;
  margin-top: 10px;
 }

 .page-no-text{
  margin-top: 13px;
 }

 .download-pdf{
  background: #096ab4;
  color: white;
  width: -webkit-fill-available;
 }

 .dwld-href{
  color: white;
  text-decoration: none;
  background-color: transparent;
 }

 .dwld-href:hover{
  color:  #bebebe;
  text-decoration: none;

 }

 .files-block{
  height: calc(100vh - 217px);
 }

 .pdf-header{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
 }

 .process-section{
  background-color: white;
  border-radius: 1.25rem !important;
 }