{% extends "ui_index.html" %}
{% load static %}
{% block content %}
<div class="preview-block" id="preview_block">
    <div class="main-container">
      <!--SECTION one -->
      <div class="doc-review rounded shadow-sm">
        <div class="preview-container">
          <embed  
        src="{% static staticpath %}"
        class='pdf-preview-canvas'
    >
        </div>
      </div>    
    <!--SECTION TWO -->
      <div class="entity-review rounded shadow-sm">
        <div class='csv-block'>
          <button class="btn csv_btn"><img src="{% static 'img/csv_img.PNG' %}" class="csv_img"/></button>
          <a href='#' id='csv_download_file'>Download File</a>
        </div>
        <div class="entity-container">
          <div class="entity-block">
            {% for item in response %}
            <div class="card preview-ent">
              <p class='entity-text-preview'>{{ item.entity }}</p>
              <p class='sub-text'>{{ item.expected_values[0]["value"] }}</p>
              <!-- <p class='description-text'>some txt here</p> -->
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
<div>
  <p>
    {{ extracted_text }}
  </p>
</div>
{% endblock %}
